.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #ddd;

  .elder {
    margin-left: 10px;
    color: green;
  }

  .curator {
    margin-left: 10px;
    color: blue;
  }
}

.textarea {
  flex: 1;
  width: 100%;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  border: none;
  resize: none;
  outline: none;
}

