.container {
  max-width: 400px;
  margin-top: 100px;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}

.submitButton {
  width: 100%;
}

.linkContainer {
  margin-top: 20px;
  text-align: center;
}

