.container {
  max-width: 500px;
  margin-top: 50px;
}

.errorMessage {
  color: red;
  margin-bottom: 10px;
}

.successMessage {
  color: green;
  margin-bottom: 10px;
}

.submitButton {
  width: 100%;
}

.linkContainer {
  margin-top: 20px;
  text-align: center;
}

